


{{input value=comment1  placeholder="add your comment here..." class="form-control" }}
<span class="input-group-btn">
  <button class="btn btn-default" {{action 'save'}} type="button">Add Comment</button>
</span>

