<div class="alert alert-danger alert-dismissible" >
  <button type="button" class="close"  {{action 'deleteComment'}}> 
  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
  </button>
  {{data.text}}
</div>
{{yield}}
