
<h1>Lista de posts</h1>
<div class="col-sm-6">
	<ul class="list-group">
		{{#each model as |post|}}
		
			{{#link-to 'post' post class="list-group-item"}}
	
			{{post.title}}
	
			{{/link-to}}
		
		{{/each}}
	</ul>
</div>
{{outlet}}
