
<h1>{{model.title}}</h1>
<p>{{model.description}}</p>
<div class="row">
	
	{{#each model.comments as |comment|}}

		{{show-comment data=comment action='deleteComment' }}

	{{/each}}
	
</div>
<div class="row">
	<div class="col-xs-12 col-md-6">
		{{add-comment action='saveComment' postid=model.id}}
	</div>
</div>

